# Ignore all .tar files
*.tar

# Ignore all .sif files
*.sif

# Secrets
.env

#Ignore all subdirectories in specs
#h5 files
#spectrogram outputs
/specs/*/

#Slurm outputs
/slurm/err/
/slurm/out/
/slurm/scripts/*/

#det outputs
/det_outputs/
#mmdetection
#/mmdetection/

/h5s/
/single_freq_h5s_70_15_15/