# Ignore all .tar files
*.tar

# Ignore all .sif files
*.sif

#Ignore all .pth files
*.pth

# Secrets
.env

#Ignore all subdirectories in specs
#h5 files
#spectrogram outputs
/specs/*/

# Slurm outputs
/slurm/*err*
/slurm/*out*
/slurm/scripts/*/


#det outputs
/det_outputs/
#mmdetection
#/mmdetection/

/h5s/
/single_freq_h5s_70_15_15/

/stan-prop-only-h5s/

/all_h5s/
/all_h5s_chunked/
/all_spectrograms_chunked_noBoost/
/all_spectrograms_chunked_boosted/
/data/
/testing_data/
/work_dirs/
/all_test_vis10/
/all_train_vis10/
/all_specs_sorted/
/all_prop_only_15/
/test_h5_vis/
/test_vis/
/test_visualizations/
/test_results/


/all_h5s_single_freq/

/merged_data/